
<%= form_for [@snippet, @review] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>


  <div class="actions">
    <%= f.submit 'Leave Review' %>
  </div>
<% end %>
